<h2>Hello. I'm Ralph</h2>
<p><img src="https://avatars1.githubusercontent.com/u/239642?v=3&s=100" alt="Ralph Göstenmeier" title="Follow me on Twitter @r14r"
	class="img-rounded floatLeft" /> I am freelance software developer from germany.</p>
<p>
	<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=r14r&repo=r14r.github.com&type=watch&count=true"
	allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;
	<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=r14r&repo=r14r.github.com&type=fork&count=true"
	allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
</p>
<p><a href="https://twitter.com/r14r" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @r14r</a></p>
<p>
	<ul class="buttons unstyled">
		<li>
			<a href="http://github.com/r14r" rel="me" class="social github" title="Go to github.com/r14r" target="_blank"></a>
		</li>
		<li>
			<a href="http://www.linkedin.com/pub/eric-jones/a/848/1b3" rel="me" class="social linkedin" title="Go to LinkedIn profile"
			target="_blank"></a>
		</li>
		<li>
			<a href="http://www.twitter.com/r14r" rel="me" class="social twitter" title="Go to twitter.com/r14r" target="_blank"></a>
		</li>
		<li>
			<a href="http://feeds.feedburner.com/github/xmyo" rel="me" class="social rss" title="Go to feedburner r14r rss feed"
			target="_blank"></a>
		</li>
		<li>
			<a href="https://plus.google.com/u/0/114561259331203581412/posts" rel="me" class="social gplus" title="Go to Google Plus profile"
			target="_blank"></a>
		</li>
		<li>
			<a href="https://github.com/r14r/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Ralph"
			target="_blank"></a>
		</li>
	</ul>
</p>