---
layout: compress
---
<!doctype html>
<!-- file: + _layouts/default -->
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include head %}
</head>
<body id="top-of-page" class="{{ page.format }}">
	{% unless page.skip_navigation %}
		{% include navigation %}
	{% endunless %}

	<!-- include masthead -->
	{% include masthead %}

	<!-- include content -->
	{{ content }}

	{% unless page.skip_footer %}
		<!-- include footer -->
		{% include footer %}
	{% endunless %}

	<!-- include footer_scripts -->
	{% include footer_scripts %}
</body>
</html>
<!-- file: - _layouts/default -->
