---
layout: default
format: page-fullwidth

breadcrumb: true
---
<!-- file: _layouts/post-fullwidth.html -->
<div class="row t30">
    <article>
        {% if page.type == "vimeo" %}
            {% if page.vimeo-embed %}
                <div class="video_container">
                    {{ page.vimeo-embed }}
                </div>
            {% endif %}
        {% elsif page.type == "youtube" %}
            {% if page.yt-video-id %}
                <div class="video_container">
                    <iframe src="https://www.youtube.com/embed/{{page.yt-video-id}}?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
                </div>
            {% endif %}
        {% elsif page.type == "image" or page.type == "gallery" %}
            {% if page.featimg %}
                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ page.featimg }}" alt="{{ page.featimg }}">
            {% endif %}
        {% elsif page.type == "audio" %}
            {% if page.audio-embed %}
                {{ page.audio-embed }}
            {% endif %}
        {% endif %}

        <h1 class="post_title">
            {{ page.title }}
        </h1>
        <div class="row">
            <div class="medium-4 medium-pull-8 columns">
                <a  class="radius button small"
                    href="{{ site.url }}/blog/archive/"
                    title="{{ site.data.language.blog_archive }}">
                    {{ site.data.language.blog_archive }}
                </a>
            </div>
            <div class="medium-8 medium-push-4 columns">
                {% include next-previous-post-in-category %}
            </div>
        </div>

        <div class="meta">
            <span class="date">Published on {{ page.date | date: '%B %d, %Y' }}</span>
        </div>
        {% if page.type == "standard" %}
            {% if page.featimg %}
                <img class="featimg" src="{{ site.media_folder | prepend: site.baseurl | replace: '//', '/'}}/{{ page.featimg }}" alt="{{ page.featimg }}">
            {% endif %}
        {% endif %}
        <div class="post_content">
            {{ content }}
        </div>
        {% if page.category || page.tags %}
            <div class="catsandtags">
                {% if page.category %}
                    <p class="category">
                        <span class="name">Categories:</span>
                        {{ page.categories | category_links }}
                    </p>
                {% endif %}
                {% if page.tags %}
                    <p class="tags">
                        <span class="name">Tags:</span>
                        {% for tag in page.tags %}
                            <a href="{{ site.tag_dir | prepend: site.baseurl | replace: '//', '/' }}/{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        {% endif %}
    </article>
</div>
